{{include file="public/header" /}}
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- form start -->
        <form class="am-form form-validation view-save" action="{{:MyUrl('admin/operation/examineShop')}}" method="POST" request-type="ajax-url" request-value="{{:MyUrl('admin/operation/index')}}">
            <legend>
				<span class="fs-16">
					{{if empty($data['id'])}}
						成员添加
					{{else /}}
						成员编辑
					{{/if}}
				</span>
                <a href="{{:MyUrl('admin/orderrefund/index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </legend>
            <div class="am-form-group">
                <label>商品名称</label>
                <input type="text" name="goods_name"  disabled placeholder="商品名称"  {{if !empty($data.goods_name)}} value="{{$data.goods_name}}" {{/if}}/>
            </div>
            <div class="am-form-group">
                <label>标题名称</label>
                <input type="text" name="goods_title" disabled placeholder="标题名称"  {{if !empty($data.goods_title)}} value="{{$data.goods_title}}" {{/if}}/>
            </div>
            <div class="am-form-group">
                <label>商品促销价格</label>
                <input type="text" name="goods_activity_price" disabled placeholder="商品促销价格"  {{if !empty($data.goods_activity_price)}} value="{{$data.goods_activity_price}}" {{/if}}/>
            </div>
            <div class="am-form-group">
                <label>商品库存</label>
                <input type="text" name="goods_number" disabled placeholder="商品库存"  {{if !empty($data.goods_number)}} value="{{$data.goods_number}}" {{/if}}/>
            </div>
            <div class="am-form-group">
                <label>抢购时间</label>
                <input type="text" name="goods_upper_time" class="am-radius Wdate" disabled placeholder="抢购时间"  onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd'})"  {{if !empty($data.goods_upper_time)}} value="{{$data.goods_upper_time}}" {{/if}}/>
            </div>
            <div class="am-form-group">
                <label>结束时间</label>
                <input type="text" disabled  placeholder="结束时间" name="goods_lower_time" data-validation-message="详细地址2~60 个字符"class="am-radius Wdate" {{if !empty($data.goods_lower_time)}} value="{{$data.goods_lower_time}}"{{else}}0{{/if}} onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd'})" />
            </div>
            <div class="am-form-group">
                <input type="hidden" name="id" {{if !empty($data.id)}} value="{{$data.id}}"{{/if}} />
                <div >
                    <button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm w100" data-am-loading="{loadingText:'处理中...'}">通过</button>
                </div>
                <div>
                    <a href="{{:MyUrl('admin/orderrefund/refuseShop', array('id'=>$data['id']))}}"> 拒绝</>
                </div>
            </div>
        </form>
        <!-- form end -->
    </div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->