{{include file="public/header" /}}
<link rel="stylesheet" type="text/css" href="/shop/public/static/admin/default/css/index.init.css" />
<!-- right content start  -->
<div class="content-right">
    <div class="content">
        <!-- 基础统计 -->
        <div class="echarts-container shopxo-base">
            <div class="echarts-title">
                <span class="icon"></span>
                <span class="title">用户浏览统计</span>
                <a href="{{:MyUrl('admin/zoology/index')}}" class="fr fs-14 m-t-5 am-icon-mail-reply"> 返回</a>
            </div>
            <ul class="am-avg-sm-2 am-avg-lg-4">
                <li>
                    <div class="li-content">
                        <p class="name">今日用户总量</p>
                        <p class="total animation-count-to" data-to="{{}}" data-speed="1500">{{if empty($arr)}}0 {{else /}} {{$arr}}{{/if}}</p>
                        <!--<div class="yesterday">
                            <span>昨日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500">0</span>
                        </div>
                        <div class="today">
                            <span>今日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500">0</span>
                        </div>-->
                        <i class="am-icon-user am-icon-lg bg-icon"></i>
                    </div>
                </li>

                <li>
                    <div class="li-content">
                        <p class="name">本周用户总量</p>
                        <p class="total animation-count-to" data-to="{{}}" data-speed="1500">{{if empty($WeekFlow)}}0 {{else /}}{{$WeekFlow}}{{/if}}</p>
                       <!-- <div class="yesterday">
                            <span>昨日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500">0</span>
                        </div>
                        <div class="today">
                            <span>今日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500">0</span>
                        </div>-->
                        <i class="am-icon-list-alt am-icon-lg bg-icon"></i>
                    </div>
                </li>
                <li>
                    <div class="li-content">
                        <p class="name">本月用户总量</p>
                        <p class="total animation-count-to" data-to="{{}}" data-speed="1500">{{if empty($MonthFlow)}}0 {{else /}}{{$MonthFlow}}{{/if}}</p>
                       <!-- <div class="yesterday">
                            <span>昨日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500">0</span>
                        </div>
                        <div class="today">
                            <span>今日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500">0</span>
                        </div>-->
                        <i class="am-icon-gg am-icon-lg bg-icon"></i>
                    </div>
                </li>
                <li>
                    <div class="li-content">
                        <p class="name">本年度用户总访问量</p>
                        <p class="total animation-count-to" data-to="{{}}" data-speed="1500" data-decimals="2">{{if empty($YearFlow)}}0 {{else /}}{{$YearFlow}}{{/if}}</p>
                        <!--<div class="yesterday">
                            <span>昨日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500" data-decimals="2">0.00</span>
                        </div>
                        <div class="today">
                            <span>今日</span>
                            <span class="animation-count-to" data-to="{{}}" data-speed="1500" data-decimals="2">0.00</span>
                        </div>-->
                        <i class="am-icon-gift am-icon-lg bg-icon"></i>
                    </div>
                </li>
            </ul>
        </div>